<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h3>Bem-vindo(a) a BITCOINSCHOOL</h3>
      <img src="../../../../assets/img/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
    </div>
  </div>
  <div class="col-md-6">
    <form class="p-1" [formGroup]="loginFormGroup">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Bem-vindo(a) a BITCOINSCHOOL</h3>
        <img src="../../../../assets/img/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
      </div>
      <!--<div class="form-row">
        <div class="form-group col-sm-6">
          <input class="form-control"
          type="text"
          placeholder="E-mail"
          formControlName="email"
          [ngClass]="{ 'is-invalid':  (submitted || loginForm['email'].touched) && loginForm['email'].errors}"/>
          <div *ngIf="loginForm['email'].hasError('required')" class="invalid-feedback">
            E-mail não informado.
          </div>
          <div *ngIf="loginForm['email'].hasError('email')" class="invalid-feedback">
            E-mail inválido.
          </div>
        </div>
      </div><br>-->
      <!--<div class="form-row">
        <div class="form-group col-sm-6">
          <input class="form-control"
          type="password"
          placeholder="Senha"
          formControlName="senha"
           [ngClass]="{ 'is-invalid':  (submitted || loginForm['senha'].touched) && loginForm['senha'].errors}"/>
           <div *ngIf="loginForm['senha'].hasError('required')" class="invalid-feedback">
              Senha não informada.
          </div>
          <div *ngIf="loginForm['senha'].hasError('minlength')" class="invalid-feedback">
            Password precisa ter no minimo 5 caracteres.
          </div>
          <div *ngIf="loginForm['senha'].hasError('maxlength')" class="invalid-feedback">
            Password precisa ter no máximo 10 caracteres.
          </div>
        </div>
      </div><br>-->
      <div class="form-row">
        <div>
          <h3>Vamos começar</h3>
          <h6>BitcoinSchool é uma carteira altamente segura e aprovada no mundo web3.</h6>
        </div>
        <br>
        <div class="form-group col-12">
          <!--<button class="btn btn-success btn-block px-4" type="button"
          (click)="realizarLogin()">
            LOGIN
          </button>-->
          <button type="button" class="btn btn-warning btn-lg btn-block" (click)="criarCarteira()">Criar uma nova carteira</button>
        </div>
      <br>
        <div class="form-group col-12">
          <button type="button" class="btn btn-outline-warning btn-lg btn-block">Importar uma carteira</button>
        </div>
      </div>
      <!--<div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/login/register">
            Inscreva-se na Bitcoin School
          </a>
        </div>
      </div>-->
    </form>
  </div>
</div>

