<div class="container-fluid p-2 text-black text-center">
  <section>
    <div class="rt-container">
        <div class="col-rt-12">
          <div class="Scriptcontent">
            <div class="ticker-container">
              <div class="ticker-tape">
                <div class="slide-track">
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Bitcoin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-btc-color.svg">
                      Bitcoin R$ 117.807,96
                    </span>
                  </div>
                  <div class="slide">
                      <span>
                      <img name="tickers-icon" alt="img:Ethereum" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-eth-color.svg">
                      Ethereum R$ 8.098,84
                      </span>
                  </div>
                  <div class="swiper-slide"></div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Chiliz" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-chz-color.svg">
                      Chiliz R$ 0.68237999
                    </span>
                    </div>
                  <div class="swiper-slide"></div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:XRP" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-xrp-color.svg">
                      XRP R$ 2,05
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Shiba Inu" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-shib-color.svg">
                      Shiba R$ 0.00006028
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:USD Coin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-usdc-color.svg">
                      USDC R$ 5,11
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Cardano" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-ada-color.svg">
                      Cardano R$ 1,99
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:ApeCoin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-ape-color.svg">
                      ApeCoin R$ 29,97
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Solana" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-sol-color.svg">
                      Solana R$ 121,80
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:MANA (Decentraland)" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-mana-color.svg">
                      MANA R$ 3,86
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Bitcoin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-btc-color.svg">
                      Bitcoin R$ 117.807,96
                    </span>
                  </div>
                  <div class="slide">
                      <span>
                      <img name="tickers-icon" alt="img:Ethereum" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-eth-color.svg">
                      Ethereum R$ 8.098,84
                      </span>
                  </div>
                  <div class="slide">

                    <span>
                      <img name="tickers-icon" alt="img:Chiliz" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-chz-color.svg">
                      Chiliz R$ 0.68237999
                    </span>
                    </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:XRP" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-xrp-color.svg">
                      XRP R$ 2,05
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Shiba Inu" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-shib-color.svg">
                      Shiba R$ 0.00006028
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:USD Coin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-usdc-color.svg">
                      USDC R$ 5,11
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Cardano" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-ada-color.svg">
                      Cardano R$ 1,99
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:ApeCoin" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-ape-color.svg">
                      ApeCoin R$ 29,97
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:Solana" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-sol-color.svg">
                      Solana R$ 121,80
                    </span>
                  </div>
                  <div class="slide">
                    <span>
                      <img name="tickers-icon" alt="img:MANA (Decentraland)" width="24" height="24" loading="lazy" src="../../../assets/images/ico-asset-mana-color.svg">
                      MANA R$ 3,86
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

