<p *ngIf="precoBitcoin.ticker.last">{{titulo | titlecase}}{{precoBitcoin.ticker.last | currency : 'BRL'}}</p>

<form action="" class="form-inline">
  <div class="form-group"></div>
  <input type="text" class="form-control" placeholder="buscar">
  <button class="btn btn-outline-success">Obter</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Criptomoeda</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticker of listaTicker">
          <td>{{ticker.Nome}}</td>
          <td>{{ticker.Valor}}</td>
    </tr>
  </tbody>
</table>








