<div class="container-fluid p-1 text-black text-center">
    <img id="imagem" src="../../../assets/images/banner-blockchainBitcoin.png"
      style="width: 80%;height: 80%;object-fit:cover; object-position:bottom;"/>


</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>O que um desenvolvedor blockchain faz?</h3>
      <p>Projeta protocolos blockchain;</p>
      <p>Projeta arquitetura de rede que pode ser usada para centralizar ou descentralizar dados;</p>
      <p>Desenvolver em formato back-end de acordo com os protocolos blockchain e desenvolver projetos front-end.</p>
    </div>
    <div class="col-sm-4">
      <h3>O que é e como funciona o blockchain?</h3>
      <p>Blockchain é um conjunto de blocos em cadeia, contendo dados e informações, funcionando como uma espécie de livro-razão compartilhado.</p>
      <p>Através dessa tecnologia, diversos ativos podem ser criados, já que nela é possível registrar as transações feitas, trazendo mais segurança e transferência para essas operações.</p>
    </div>
    <div class="col-sm-4">
      <h3>Qual foi o conteúdo do primeiro módulo?</h3>
      <p>Neste módulo conhecemos as principais ferramentas que iremos utilizar neste projeto (Visual Studio Code, Visual Studio 2022, MySQL, Postman).</p>
      <p>Daremos foco na linguagem de programação C# e lógica de programação, e com base nisso já iremos começar a versionar nosso código no Github.</p>
      <p>Daremos inicio no planejamento e especificação do projeto que vamos desenvolver, e assim como em cada módulo teremos uma sequência de desenvolvimento do Backend e Front-end.</p>
    </div>
</div>
</div>
