<div class="container-fluid p-1 text-black text-center">
    <img id="imagem" src="https://thumbs.gfycat.com/BeneficialSparklingBaldeagle-size_restricted.gif"
      style="width: 80%;height: 80%;object-fit:cover; object-position:bottom;"/>


</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>O que um desenvolvedor blockchain faz?</h3>
      <p>Projeta protocolos blockchain;</p>
      <p>Projeta arquitetura de rede que pode ser usada para centralizar ou descentralizar dados;</p>
      <p>Desenvolver em formato back-end de acordo com os protocolos blockchain e desenvolver projetos front-end.</p>
    </div>
    <div class="col-sm-4">
      <h3>O que é e como funciona o blockchain?</h3>
      <p>Blockchain é um conjunto de blocos em cadeia, contendo dados e informações, funcionando como uma espécie de livro-razão compartilhado.</p>
      <p>Através dessa tecnologia, diversos ativos podem ser criados, já que nela é possível registrar as transações feitas, trazendo mais segurança e transferência para essas operações.</p>
    </div>
    <div class="col-sm-4">
      <h3>O que é uma API de bitcoin?</h3>
      <p>Uma interface de programação de aplicativos (API) bitcoin é um serviço API REST para desenvolvedores. Ele permite que eles integrem a funcionalidade para pesquisar dados de troca de criptomoedas e bitcoins em seus aplicativos ou site.</p>
      <p>Bitcoins são um tipo de moeda virtual. É uma criptomoeda também porque possui um recurso de segurança que impede os esforços de falsificação. Bitcoins e outras criptomoedas são executados em um sistema blockchain livre de dependências bancárias.</p>
    </div>
</div>
</div>
