<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Crie sua conta</h1>
			<img src="../../../../assets/images/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Crie sua conta</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input type="text" class="form-control" placeholder="Nome" required/>
        </div>
      </div><br>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input class="form-control" type="text" placeholder="Email" required/>
        </div>
      </div><br>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input class="form-control" type="password" placeholder="Senha" required/>
        </div>
      </div><br>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <label class="custom-control-label">Ao se inscrever, você concorda com nossos <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-4">
            CADASTRE-SE
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
