<div class="container" style="padding-top: 70px;">
<form class="p-1" [formGroup]="profileFormGroup">
  <div>
    <h3>Perfil</h3>
    <h6>Defina seu usuário e uma descrição em poucas palavras sobre você.</h6>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <input class="form-control" type="text"
      [value]="profile?.userName"
      placeholder="Username"
      formControlName="userName"
      [ngClass]="{ 'is-invalid':  (submitted || profileForm['userName'].touched) && profileForm['userName'].errors}"/>
      <div *ngIf="profileForm['userName'].hasError('required')" class="invalid-feedback">
        UserName não informado.
      </div>
    </div>
    <br>
    <div class="form-group col-sm-6">
      <input class="form-control" type="text"
      [value]="profile?.description"
      placeholder="Descrição"
      formControlName="description"
      [ngClass]="{ 'is-invalid':  (submitted || profileForm['description'].touched) && profileForm['description'].errors}"/>
      <div *ngIf="profileForm['description'].hasError('required')" class="invalid-feedback">
        Descrição não informada.
      </div>
    </div>
  </div><br>
  <br>
  <div class="form-row">
    <div class="form-group col-12">
      <button class="btn btn-warning btn-lg btn-block"
      (click)="updateprofile()">
        Atualizar
      </button>
    </div>
  </div>
</form>
</div>
