<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h3>Bem-vindo(a) a BITCOINSCHOOL</h3>
      <img src="../../../../assets/img/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <h3>Criar senha</h3>
      <h6>Essa senha desbloqueará sua carteira BitcoinSchool apenas neste dispositivo. A BitcoinSchool não é capaz de recuperar essa senha.</h6>
    </div>
    <form class="p-1" [formGroup]="registerFormGroup">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Crie sua senha</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input class="form-control" type="password"
          placeholder="Senha"
          formControlName="password"
          [ngClass]="{ 'is-invalid':  (submitted || registerForm['password'].touched) && registerForm['password'].errors}"/>
          <div *ngIf="registerForm['password'].hasError('required')" class="invalid-feedback">
            Senha não informada.
          </div>
          <div *ngIf="registerForm['password'].hasError('minlength')" class="invalid-feedback">
            Password precisa ter no minimo 5 caracteres.
          </div>
          <div *ngIf="registerForm['password'].hasError('maxlength')" class="invalid-feedback">
            Password precisa ter no máximo 10 caracteres.
          </div>
        </div>
      </div><br>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <input type="checkbox" name="checkboxConfirmacao"
            formControlName="checkboxConfirmacao"
            [(ngModel)]="checkboxConfirmacao">
            Eu li e concordo com os <a routerLink="/termo"> Termos de Uso </a>e <a routerLink="/privacidade"> Política de Privacidade</a> do Serviço.
          <div *ngIf="submitted && !checkboxConfirmacao">
            <b style='color:red;'>Você precisa concordar com os termos de uso.</b>
          </div>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-warning btn-lg btn-block"
          (click)="createuser()">
            Criar nova carteira
          </button>
        </div>
      </div>
      {{wallet.seedPhrase}}
      {{wallet.privateKey}}
      {{wallet.publicKey}}
    </form>
  </div>
</div>

