<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <!--<i class="nc-icon nc-bitcoin text-warning"></i>-->
              <img src="../../../assets/img/bitcoin-logo.png"/>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Bitcoin</p>
              <p class="card-title">R$ 151.115,89
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Último preço
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <!--<i class="nc-icon nc-money-coins text-success"></i>-->
              <img src="../../../assets/img/bitcoincash-logo.png"/>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Bitcoin Cash</p>
              <p class="card-title">R$ 675,89
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <!--<i class="fa fa-calendar-o"></i> Last day-->
          <i class="fa fa-refresh"></i> Último preço
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <!--<i class="nc-icon nc-vector text-danger"></i>-->
              <img src="../../../assets/img/ethereum-logo.png"/>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Ethereum</p>
              <p class="card-title">R$ 9.765,98
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <!--<i class="fa fa-clock-o"></i> In the last hour-->
          <i class="fa fa-refresh"></i> Último preço
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <!--<i class="nc-icon nc-favourite-28 text-primary"></i>-->
              <img src="../../../assets/img/shiba-logo.png"/>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Shiba Inu</p>
              <p class="card-title">0.0000145
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <!--<i class="fa fa-refresh"></i> Update now-->
          <i class="fa fa-refresh"></i> Último preço
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Curso Programação Bitcoin</h5>
        <p class="card-category">Framework Angular</p>
      </div>
      <div class="card-body ">
        <img src="https://thumbs.gfycat.com/BeneficialSparklingBaldeagle-size_restricted.gif"/>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Página atualizada em 14/04/2023
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Card 1</h5>
        <p class="card-category">Card reservado para inclusão de informações.</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Icone 1
          <i class="fa fa-circle text-warning"></i> Icone 2
          <i class="fa fa-circle text-danger"></i> Icone 3
          <i class="fa fa-circle text-gray"></i> Icone 4
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> informações a serem incluídas.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Card 2</h5>
        <p class="card-category">Card reservado para inclusão de informações.</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Icone 1
          <i class="fa fa-circle text-warning"></i> Icone 2
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> informações a serem incluídas.
        </div>
      </div>
    </div>
  </div>
</div>
